<div id="members" class="page-layout carded fullwidth inner-scroll">

  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

    <!-- HEADER -->
    <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
      fxLayoutAlign.gt-sm="space-between center">

      <!-- APP TITLE -->
      <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
          people_outline
        </mat-icon>
        <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
          Members
        </span>
      </div>
      <!-- / APP TITLE -->

      <!-- SEARCH -->
      <div class="search-wrapper mx-32 mx-md-0">
        <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
          <mat-icon>search</mat-icon>
          <input #search placeholder="Search for a member">
        </div>
      </div>
      <!-- / SEARCH -->

      <!-- ADD BUTTON -->
      <button mat-raised-button [routerLink]="'/apps/members/new'" class="add-member-button fuse-white mt-24 mt-md-0">
        <span>ADD NEW MEMBER</span>
      </button>
      <!-- / ADD BUTTON -->

    </div>
    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card">

      <mat-table class="members-table" #table [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}"
        fusePerfectScrollbar>

        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
          <mat-cell *matCellDef="let member; let i = index">
            <p class="text-truncate">{{(paginator.pageIndex * paginator.pageSize) + i + 1}}</p>
          </mat-cell>
        </ng-container>

        <!-- Image Column -->
        <ng-container matColumnDef="image">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let member">
            <img class="avatar member-image" *ngIf="member.image" [alt]="member.full_name" [src]="member.image?.url" />
            <img class="avatar member-image" *ngIf="!member.image" [src]="'assets/images/avatar.jpg'">
          </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
          <mat-cell *matCellDef="let member">
            <p class="text-truncate">{{member.full_name}}</p>
          </mat-cell>
        </ng-container>

        <!-- Age Column -->
        <ng-container matColumnDef="dob">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Age</mat-header-cell>
          <mat-cell *matCellDef="let member">
            <p class="text-truncate">{{member.age}}</p>
          </mat-cell>
        </ng-container>

        <!-- Gender Column -->
        <ng-container matColumnDef="gender">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Gender</mat-header-cell>
          <mat-cell *matCellDef="let member">
            <p class="text-truncate">{{member.gender}}</p>
          </mat-cell>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
          <mat-cell *matCellDef="let member">
            <p class="text-truncate">{{member.email}}</p>
          </mat-cell>
        </ng-container>

        <!-- Phone Column -->
        <ng-container matColumnDef="phone">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Phone</mat-header-cell>
          <mat-cell *matCellDef="let member">
            <p class="text-truncate">{{member.phone}}</p>
          </mat-cell>
        </ng-container>

        <!-- Active Column -->
        <ng-container matColumnDef="active">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Active</mat-header-cell>
          <mat-cell *matCellDef="let member">
            <mat-icon *ngIf="member.active" class="active-icon green-600 s-16">check</mat-icon>
            <mat-icon *ngIf="!member.active" class="active-icon red-500 s-16">close</mat-icon>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

        <mat-row *matRowDef="let member; columns: displayedColumns;" class="member" matRipple
          [routerLink]="'/apps/members/'+member.id">
        </mat-row>

      </mat-table>

      <mat-paginator #paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>

    </div>
    <!-- / CONTENT CARD -->

  </div>
  <!-- / CENTER -->
</div>
