<div id="members" class="page-layout carded fullwidth inner-scroll">

  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

    <!-- HEADER -->
    <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
      fxLayoutAlign.gt-sm="space-between center">

      <!-- APP TITLE -->
      <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
          people_outline
        </mat-icon>
        <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
          Members
        </span>
      </div>
      <!-- / APP TITLE -->

      <!-- SEARCH -->
      <div class="search-wrapper mx-32 mx-md-0">
        <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
          <mat-icon>search</mat-icon>
          <input #filter placeholder="Search for a member">
        </div>
      </div>
      <!-- / SEARCH -->

      <!-- ADD BUTTON -->
      <button mat-raised-button [routerLink]="'/apps/members/new'" class="add-member-button fuse-white mt-24 mt-md-0">
        <span>ADD NEW MEMBER</span>
      </button>
      <!-- / ADD BUTTON -->

    </div>
    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card">

      <mat-table class="members-table" #table [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}"
        fusePerfectScrollbar>

        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
          <mat-cell *matCellDef="let member">
            <p class="text-truncate">{{member.id}}</p>
          </mat-cell>
        </ng-container>

        <!-- Image Column -->
        <ng-container matColumnDef="image">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let member">
            <img class="member-image" *ngIf="member.featuredImageId" [alt]="member.name"
              [src]="member.images[member.featuredImageId].url" />
            <img *ngIf="!member.featuredImageId" [src]="'assets/images/ecommerce/member-image-placeholder.png'">
          </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
          <mat-cell *matCellDef="let member">
            <p class="text-truncate">{{member.name}}</p>
          </mat-cell>
        </ng-container>

        <!-- Category Column -->
        <ng-container matColumnDef="category">
          <mat-header-cell *matHeaderCellDef fxHide mat-sort-header fxShow.gt-md>Category</mat-header-cell>
          <mat-cell *matCellDef="let member" fxHide fxShow.gt-md>
            <p class="category text-truncate">
              {{member.categories[0]}}
            </p>
          </mat-cell>
        </ng-container>

        <!-- Price Column -->
        <ng-container matColumnDef="price">
          <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Price</mat-header-cell>
          <mat-cell *matCellDef="let member" fxHide fxShow.gt-xs>
            <p class="price text-truncate">
              {{member.priceTaxIncl | currency:'USD':'symbol'}}
            </p>
          </mat-cell>
        </ng-container>

        <!-- Quantity Column -->
        <ng-container matColumnDef="quantity">
          <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>Quantity</mat-header-cell>
          <mat-cell *matCellDef="let member" fxHide fxShow.gt-sm>

            <span class="quantity-indicator text-truncate"
              [ngClass]="{'red-500':member.quantity <= 5, 'amber-500':member.quantity > 5 && member.quantity <= 25,'green-600':member.quantity > 25}">
            </span>
            <span>
              {{member.quantity}}
            </span>

          </mat-cell>
        </ng-container>

        <!-- Active Column -->
        <ng-container matColumnDef="active">
          <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Active</mat-header-cell>
          <mat-cell *matCellDef="let member" fxHide fxShow.gt-xs>
            <mat-icon *ngIf="member.active" class="active-icon green-600 s-16">check</mat-icon>
            <mat-icon *ngIf="!member.active" class="active-icon red-500 s-16">close</mat-icon>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

        <mat-row *matRowDef="let member; columns: displayedColumns;" class="member" matRipple
          [routerLink]="'/apps/e-commerce/members/'+member.id+'/'+member.handle">
        </mat-row>

      </mat-table>

      <mat-paginator #paginator [length]="dataSource.length" [pageIndex]="0" [pageSize]="10"
        [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>

    </div>
    <!-- / CONTENT CARD -->

  </div>
  <!-- / CENTER -->
</div>
