<h2 mat-dialog-title>Choose Images</h2>
<mat-dialog-content class="mat-typography">
  <input cdkFocusInitial type="file" multiple accept="image/*" (change)="fileChangeEvent($event)" />
  <mat-list>
    <mat-list-item *ngFor="let file of files; let i = index">
      <button mat-icon-button aria-label="Remove" (click)="files.splice(i, 1)">
        <mat-icon>clear</mat-icon>
      </button>
      <div mat-line>{{file.name}}</div>
      <div mat-line> {{file.type}} </div>
    </mat-list-item>
  </mat-list>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button (click)="upload()" [disabled]="!files.length">Upload</button>
</mat-dialog-actions>
